<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
		<string>fb</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>youtube</string>
	</array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon_2</key> <!-- Имя вашей альтернативной иконки -->
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon_2</string> <!-- Имя изображения вашей альтернативной иконки -->
                </array>
                <key>UIPrerenderedIcon</key> <!-- Укажите это, если ваша иконка уже содержит эффекты -->
                <false/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
